<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
          <i-feather name="home"></i-feather>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">
          <i-feather name="file"></i-feather>
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="shopping-cart"></i-feather>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="users"></i-feather>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="bar-chart-2"></i-feather>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="layers"></i-feather>
          Integrations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
          <i-feather name="layers"></i-feather>
          Contact
        </a>
      </li>
    </ul>


  </div>
</nav>
